<h1>Share password</h1>

<%= form_with model: @user_password, url: password_shares_path(password_id: @password.id) do |f| %>
  <div>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, @users, :id, :email %>
  </div>

  <div>
    <%= f.label :role %>
    <%= f.select :role, @roles %>
  </div>

  <div>
    <%= f.submit 'Share' %>
  </div>
<% end %>
