<div class="mb-5">
  <%= link_to root_path, class: 'text-blue-500 hover:text-blue-600 hover:underline flex items-center gap-2' do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    Back to all passwords
  <% end %>
</div>

<div class="flex items-center justify-between">
  <h2 class="text-4xl font-bold text-blue-800 flex items-center gap-2">
    <div><%= @password.url %></div>

    <%= link_to @password.url, target: :_blank, class: 'text-blue-500 hover:text-blue-600 hover:underline' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    <% end %>
  </h2>

  <div class="my-2">
    <% if current_user_password.editable? %>
      <%= link_to 'Edit', edit_password_path(@password), class: 'bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600' %>

      <% if current_user_password.sharable? %>
        <%= link_to 'Delete', password_path(@password), data: {
                                                          turbo_method: :delete,
                                                          turbo_confirm: 'Are you sure you want to delete this password?'
                                                        },
                                                        class: 'bg-red-500 text-white rounded-md px-4 py-2 hover:bg-red-600' %>
      <% end %>
    <% end %>
  </div>
</div>

<hr class="my-4">
<h5 class="text-lg font-bold mb-5">Credentials</h5>
<pre class="rounded-md bg-cyan-950 px-4 py-2 text-white w-1/3 mb-2 flex items-center justify-between gap-2">
  <code><%= @password.username %></code>
  <%= button_tag 'Copy', class: 'bg-white rounded-md text-black text-sm px-4 py-1 hover:bg-gray-200',
                         data: {
                           controller: 'clipboard',
                           action: 'click->clipboard#copy',
                           clipboard_content_value: @password.username
                         } %>
</pre>
<pre class="rounded-md bg-cyan-950 px-4 py-2 text-white w-1/3 flex items-center justify-between gap-2">
  <code><%= @password.password %></code>
  <%= button_tag 'Copy', class: 'bg-white rounded-md text-black text-sm px-4 py-1 hover:bg-gray-200',
                         data: {
                           controller: 'clipboard',
                           action: 'click->clipboard#copy',
                           clipboard_content_value: @password.password
                         } %>
</pre>

<hr class="my-4">
<h5 class="text-lg font-bold mb-5">Share this password</h5>
<%= link_to 'Add a user', new_password_share_path(@password),
            class: 'bg-cyan-500 text-white rounded-md px-4 py-2 hover:bg-cyan-600' if current_user_password.sharable? %>

<div class="w-1/3 space-y-2">
  <% @password.user_passwords.includes(:user).each do |user_password| %>
    <div class="flex items-center justify-between gap-2">
      <%= [user_password.user.email, user_password.role].join(' - ') %>
      <%= link_to 'Remove', password_share_path(@password, user_password_id: user_password.user_id),
                            data: {
                              turbo_method: :delete,
                              turbo_confirm: 'Are you sure you want to remove this user?'
                            },
                            class: 'bg-red-500 text-white rounded-md px-4 py-1 hover:bg-red-600' if current_user_password.sharable? %>
    </div>
  <% end %>
</div>
